.pagination {
  display: flex;
  max-width: 450px;
  margin: 0 auto;
  justify-content: center;

  li {
    padding: 10px 17px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #4199d3;
    color: #4199d3;
    cursor: pointer;

    &.active {
      background-color: #4199d3;
      color: #fff;
    }
  }
}
